*{
    margin: 0;
    padding: 0;
}
body{
    
    font-size: 16px;
 }

.header{
    width: 100%;
    float: left;
  }
  
.container{
    width: 1140px ;
    margin: 0px auto;
}
.row{
    width: 100%;
    float: left;
  }
.row .first h1{
    margin: 10px;
}
.intro{
    margin: 50px;
    padding: 40px;
}
.col-6{
    width: 50%;
    float: left;
}
.row{
    background-color: cadetblue;
}

.row .first img{
    float: left;
    border-radius: 100%;
}
.row .sec img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    width: 100%;
    float: left;
  }
.menu li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}

.menu li a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding-left: 20px;
    color: #FFFFFF;
}
.about
{
    width: 100%;
    background-color: white;
    float: left;
    text-align: center;
    padding: 80px 0 80px;
}
.about h1, p{
 text-align: center;
 padding: 20px 0 10px 0;
 color: cadetblue;
}
.about button{
    margin: 5px;
    padding: 5px 20px 5px;
    background-color: cadetblue;
    border-radius: 10px;
}
.video h1{
    text-align: center;
    color: cadetblue;
    padding: 80px 0 80px;
}
.video iframe{
   
    width: 100%    ;
    height: 500px   ;
  }

  .row h1{
      text-align: center;
  }
.col-3{
    width: 33.33%;
    float: left;
    
}
.photo{
    width: 100%;
    float: left;
    padding: 10px 0;
}

.photo .rock1 img{
    width: 70%;
    height: 80%;
    margin-left: 15%;
}
.photo .rock2 img{
    width: 100%;
    height: 100%;
    
}
.photo .rock3 img{
    width: 70%;
    height: 80%;
    margin-left: 5%;
}
.photo2{
    width: 100%;
    float: left;
   
}
.photo2 .rock4 img{
    width: 70%;
    height: 80%;
    margin-left: 15%;
}
.photo2 .rock5 img{
    width: 100%;
    height: 100%;
    
}
.photo2 .rock6 img{
    width: 70%;
    height: 80%;
    margin-left: 5%;
}
