*{
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    font-family: sans-serif;
    font-size: 16px;
 }
 
.header{
    width: 100%;
    float: left;
    background-color: black;
  }
.row{
    width: 100%;
    float: left;
  }
.hii{
    margin-top: 15px;
    padding: 15px;
    color: white;
    }

.intro{
    margin: 50px;
    padding: 60px;
    color: white;
}
.intro h1{
    font-size: 50px;
}
.intro .dawn{
    color: coral;
    letter-spacing: 3px;
}
.intro .dawn:hover{
    color: red;
}
.col-6{
    width: 50%;
    float: left;
}

.row .first img{
    float: left;
    border-radius: 100%;
}
.row .sec img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    width: 100%;
    float: left;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
.menu li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}

.menu li a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 20px;
}
.menu li a:hover{
    color: coral;
    padding: 5px;
    border-style: solid;
    border-color: cornsilk;
    border-radius: 10px;
}
.about{
    width: 100%;
    background-color: black;
    float: left;
   text-align: center; 
   
}
.about h1{
 padding: 15px;
 border-style: solid;
 color: coral;
 background-color: black;
 background-clip: content-box;
}
.about p{
    padding-top: 15px;
    text-align: center;
    color: coral; 
    
    margin: 0 333px;
    padding-bottom: 25px;
}
.about button{
    margin: 15px;
    padding: 10px 20px 10px 20px;
    background-color: brown;
    border-radius: 10px;
}
.about button:hover{
    color: coral;
    background-color: rgb(204, 252, 204);
    }

    .fb{
        width: 120px;
        position: fixed;
        top: 63%;
        right: -100px;
        border-style: solid;
        border-color: coral;
        border-radius: 5px;
        transition: 1.5s;
    }
    .insta{
        width: 120px;
        position: fixed;
        top: 70%;
        right: -100px;
        border-style: solid;
          border-color: coral;
          border-radius: 5px;
        transition: 1.5s;
    }
    .twt{
        width: 120px;
        position: fixed;
        top: 77%;
        right: -100px;
        border-style: solid;
          border-color: coral;
          border-radius: 5px;
        transition: 1.5s;  
    }
    .yt{
        width: 120px;
        position: fixed;
        top: 85%;
        right: -100px;
        border-style: solid;
          border-color: coral;
          border-radius: 5px;
        transition: 1.5s;  
    }
    .fb:hover{
        right:-1px;
        border-color: rgb(86, 150, 224);
    }
    .insta:hover{
        right:-1px;
        border-color: rgb(241, 215, 224);
    }
    .twt:hover{
        right:-1px;
        border-color: rgb(166, 202, 243);
    }
    .yt:hover{
        right:-1px;
        border-color: rgb(255, 59, 59);
    }    

.video{
    background-color: black;
    
}    
.video h1{
    text-align: center;
    color: coral;
    padding: 45px;
    font-size: 35px;
    
}
.video iframe{
    width: 100%    ;
    height: 500px   ;
  }


.col-3{
    width: 33.33%;
    float: left;
  }
.photo{
    width: 100%;
    float: left;
   padding-bottom: 15px;
   background-color: black;
}
.photo h1{
    color : coral;
    text-align: center;
    padding: 20px 0 20px 0;
}

.photo .rock1 img{
    width: 350px;
    height: 560px;
    margin-left: 20px;
    
}
.photo .rock2 img{
    width: 390px;
    height: 560px;
  margin-right: auto;
}
.photo .rock3 img{
    width : 350px;
    height: 560px;
    margin-right: auto;
}
.photo2{
    width: 100%;
    float: left;
    padding-top: 10px;
    height: 480x;
    background-color: black;
}
.photo2 img{
    height: 480px;
    margin-bottom: 15px;
}
.photo2 .rock4 img{
    width: 300px;
    
    margin-left: 20px;
}
.photo2 .rock5 img{
    width: 405px;
    
    margin-right: 10px;
}
.photo2 .rock6 img{
    width: 405px;
    
    margin-right: 15px;
}

.conimg{
    background-color: black;
}

.details{
    background-color: black;
    padding-top: 110px;
  padding-bottom: 204px;
}
.details h1{
    text-align: center;
    font-size: 60px;
    line-height: 90px;
    color: coral;
    background-color: black;
}
.details h3{
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: black;
}

.social-media{
    width: 100%;
    height: 90px;
    background: #F3F0E0;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-bottom: 5spx; }

.social-media ul{
    list-style: none;
    text-align: center;
    font-size: 30px;
    background-color: black;
}
.social-icons li{
    list-style: none;
    display: inline-block;
    text-align: center;

}
.social-icons li a .fa{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10%;
    font-size: 20px;
    margin: 0px 15px;;
    position: relative;
    top: 22px;
    transition: 0.3s;
    box-shadow: 1px 3px 2px 2px;
}
.social-icons li a .fab{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10%;
    font-size: 20px;
    margin: 0px 15px;;
    position: relative;
    top: 22px;
    transition: 0.3s;
    box-shadow: 1px 3px 2px 2px; }

    .fa-facebook-square {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-instagram{
        background: #dd4b39;
        color: white;
      }
      
      .fa-youtube {
        background: #fa0707;
        color: white;
      }
    


      .fa:hover {
        opacity: 0.7;
        background-image:     linear-gradient(
          to right, 
          #E7484F,
          #E7484F 16.65%,
          #F68B1D 16.65%,
          #F68B1D 33.3%,
          #FCED00 33.3%,
          #FCED00 49.95%,
          #009E4F 49.95%,
          #009E4F 66.6%,
          #00AAC3 66.6%,
          #00AAC3 83.25%,
          #732982 83.25%,
          #732982 100%,
          #E7484F 100%	   
        );
      animation:slidebg 4s linear infinite;
  }
  
  @keyframes slidebg {
      to {
        background-position:20vw;
      }
    }
    




  .footer{
    width: 100%;
    margin-top: 90px;
    text-align: center; }
  .footer .container .row{
      margin-top: 100px;
  }
  .footer p{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    padding: 15px 5px;
    color: black;
    background-color: rgb(241, 199, 168);
  }
   